{% extends 'layout/main'%}

{% block content%}
    <div class="login">
        <h3>Login</h3>
        {% do form.setAttribute('action', url('ze-auth')) %}
        {{ dotsForm(form) }}
    </div>
{% endblock %}