.ui-state-highlight {background: url('../images/ui-bg-highlight.png');height:100px;}
.ui-state-highlight-hover{background: url('../images/ui-bg-highlight.png');}

/* Dots: Blocks */
.dots-blocks {border: dashed 1px #DDD;min-height: 16px;margin-top: 22px;padding:2px;}
.dots-blocks> .dots-block-header {width: 48px;position: absolute;margin-top: -22px;}
.dots-blocks .dots-block {border: dashed 1px #AAA;min-height: 16px;}
.dots-blocks .dots-block .dots-block-header{display: none;width: 48px;position: absolute;padding: 0 3px;
    margin: -21px 0 0 0;border: dashed 1px #AAA;border-bottom: 0;background: #FFF;}
.dots-blocks .dots-block:hover .dots-block-header {display:block;}
.dots-blocks .dots-block.edit-dots-block .dots-block-header{display:none;}

.dots-blocks .dots-block form fieldset legend{font-weight: bold; color:#777;}
.dots-blocks .dots-block form fieldset p.hint{padding: 3px 0 0 0;}
.dots-blocks .dots-block form fieldset textarea{width:300px;}
/*.dots-blocks .dots-block form dd ul.errors{color:#ad070e;background: #ffe4e1;padding:4px 5px;margin:0 0 0 5px;border:solid 1px #ad070e;*/
    /*border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;display:inline;}*/
.dots-blocks .dots-block form dd ul.errors {color: #ad070e;}
/*.dots-blocks .dots-block form dd ul.errors li{display:inline;}*/
#dots_blocks_admin_menu .dropdown-menu [dots-block-type]{cursor: move;}