<h1>An error occurred</h1>
<h2>{{ message }}</h2>

{% if isset(display_exceptions) and display_exceptions %}

{% if isset(exception) %}

<h3>Exception information:</h3>
<p>
    <h4>Message:</h4>
    <pre>{{ exception.getMessage }}</pre>
    <h4>Stack trace:</h4>
    <pre>{{ exception.getTraceAsString }}</pre>
</p>

{% else %}

<h3>No Exception available</h3>

{% endif %}

{% endif %}