<li class="dropdown" id="dots_blocks_admin_menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blocks <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% trigger "dots:blocks.admin.menu" %}
    </ul>
</li>