<div class="modal dots" id="dotsPagesAdmin_ManageDialog">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Manage Pages</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" data-action="save">Save</a>
    </div>
</div>