<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">...</a>
            <ul class="nav">
                <li class="active"><a href="/auth/logout/">Logout</a></li>
            </ul>
        </div>
    </div>
</div> <!-- /topbar -->