<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
                <ul class="nav">
                    {% for item in items %}
                        {% if (item.type == 'header') %}
                        <li class="nav-header">{{item.title}}</li>
                        {% elseif (item.type == '-')%}
                        <li class="divider-vertical"></li>
                        {% else %}
                        <li><a href="{{item.href}}">{{item.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>