<script type="text/html-template" id="dots-tpl-link-item">
    <li data-block-link-id="<%= id %>">
        <div class="link-edit">
            <a data-action="link_move" href="#"><i class="icon-move"></i></a>
            <a data-action="link_edit" href="#"><i class="icon-pencil"></i></a>
            <a data-action="link_remove" href="#"><i class="icon-remove"></i></a>
        </div>
        <a href="<%= href %>"><%= title %></a>
    </li>
</script>