{% extends 'layouts/main'%}

{% block content %}
    <div>
        {% section "navigation" on page with {is_static:true} %}
        {% section "header" on page %}
    </div>
    <div style="width:260px;float:right;">
        {% section "right" on page %}
    </div>
    <div style="width:670px;">
        {% section "content" on page %}
    </div>
{% endblock %}