<script type="text/html-template" id="dots-tpl-slideshow-thumbnail-item-wrap">
    <li>
        <div class="thumbnail">
            <img data-id="" class="slideshow-image" data-filname="<%= src %>" src="<%= src %>"/>

            <div class="caption">
                <label for="thumbnail-caption">Caption</label>
                <textarea name="thumbnail-caption" class="thumbnail-caption" cols="30" rows="10"></textarea>

                <p>
                    <a href="#" class="save-thumbnail btn btn-success">Save</a>
                    <a href="#" class="delete-thumbnail btn btn-danger">Delete</a>
                </p>
            </div>
        </div>
    </li>
</script>