<script type="text/html-template" id="dots-tpl-slideshow-thumbnail-item-wrap">
    <li>
        <div class="thumbnail">
            <a href="#" class="delete-slideshow-image">x</a>
            <img data-id="" class="slideshow-image" data-filename="<%= filename %>" src="<%= src %>"/>
            <div class="caption">
                <label for="thumbnail-caption">Caption</label>
                <textarea name="thumbnail-caption" class="thumbnail-caption" cols="30" rows="10"></textarea>
            </div>
        </div>
    </li>
</script>