<!-- START: DotsAdminBar -->
<div id="dotsAdminBar" class="navbar navbar-inverse navbar-fixed-top dots">
    <div class="navbar-inner fill">
        <div class="container-fluid">
            <ul class="nav">
                <li><a class="brand" href="/">...</a></li>
                {% trigger "dots:admin.menu" %}
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">Account</li>
                        <li><a href="{{ url('ze-auth/logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- /topbar -->
<!-- END: DotsAdminBar -->