{% extends 'layout/layout' %}
{% block body %}

    {% block dotsNavigation %}
        {{ dotsNav() | raw }}
    {% endblock %}

    {% block bodyContent %}
        <div class="container">
            {% block content %}{% endblock %}

            {% block footer %}
            <footer>
                <p>&copy; 2006 - {{ "now"|date("Y") }} by Around25 Srl. All rights reserved.</p>
            </footer>
            {% endblock %}
        </div> <!-- /container -->
    {% endblock %}

{% endblock %}