/* Modify bootstrap elements */
.btn-group{
    position: relative;
    font-size: inherit;
    white-space: inherit;
    vertical-align: inherit;
}

/* Dots: General Style */
#dotsAdminBar{}
body{top:30px;position: relative;}
.hide {display:none;}
.dots-form-buttons {padding: 2px 0 0 0;}
.dots-form-buttons dl{overflow: hidden;padding:0; margin: 0;}
.dots-form-buttons dt{display:none;}
.dots-form-buttons dd{display:inline;float:left;padding: 0;margin: 0 5px 0 0;}

/* Dots: Modal dialogs */
.dots {}
.dots .modal-body form fieldset legend{font-weight: bold; color:#777;}
.dots .modal-body form fieldset p.hint{padding: 3px 0 0 0;}
.dots .modal-body form fieldset textarea{width:300px;}
.dots .modal-body form dt{width:120px;float:left;clear:left;padding:5px 3px 3px 3px; text-align: right;}
.dots .modal-body form dd{margin-left: 126px;position: relative;}
.dots .modal-body form dd ul.errors{color:red;}
.dots .modal-body form dt.checkbox {width: 126px;float: left;clear: left;padding: 0;}
.dots .modal-body form dd.checkbox {margin-left: 126px;position: relative;padding: 0;}
