{% block bodyContent %}
    {{ dots().adminNav() | raw }}

    {% trigger "something" on test with {'first':1, 'second':'something'} %}
    {% render "Core:Index:displayThis" with {'first':1, 'second':'something'}%}

    {{ auth().user().username }}

    <div class="container">
        {% block content %}{% endblock %}

        <footer>
            <p>&copy; 2006 - {{ "now"|date("Y") }} by Around25 Srl. All rights reserved.</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}